<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf8">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css">
    <style>
      li {
        font-size: 2em;
        list-style-type: lower-roman;
      }
      ol {
        margin: 10em;
      }
    </style>
  </head>
  <body>
    <ol>
    {{ range $section, $_ := .Site.Sections }}
      <li><a href="{{$section | relURL }}">{{$section}}</a></li>
    {{ end }}
    </ol>
  </body>
</html>
